   h1 {
    color: #FF0000; /* Red color */
    font-size: 50px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    text-decoration: underline; /* Underline */
    text-align: center; /* Center align */
    font-family: Arial, sans-serif; /* Font family */
    }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: #0056b3;
   
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }